* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: white;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    padding: 30px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #5a5a5a;
  }
  
  
  .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    margin-bottom: 20px;
    
  }
  
  
  .list-group {
    list-style-type: none;
    padding: 0;
  }
  
  .list-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    
  }
  
  .list-article:hover {
    background-color: #e2e6ea;
  }
  
  button.btn-remove {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button.btn-remove:hover {
    background-color: #e60000;
  }
  

  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  form .form-control {
    margin-bottom: 15px;
  }
  
  button.btn-add {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  button.btn-add:hover {
    background-color: #218838;
  }
  
 
  